body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    text-align: center;
}

#selectors {
    padding: .5rem 1rem;
    background: lightgray;
}

#selectors > select {
    margin-right: 1rem;
}

#selectors > span {
    margin-right: .5rem;
}